// Author: Tien Quang Nguyen
// Date: Nov 6, 2018

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/********** My Styles ***********/
body {
  margin: 0;
  background: white;
}

.display-none {
  display: none;
}

/********** Header ***********/
header {
  box-sizing: content-box;
  height: 48px;
  padding: 8px;
  box-shadow: 0 2px 8px 0 #999;

  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background: white;
}

.header-placeholder {
  box-sizing: content-box;
  height: 48px;
  padding: 8px;
}

.logo-group, .search-bar, .menu-group {
  display: flex;
  align-items: center;
}

.logo-group {
  margin-left: 8px;
}

.fa-bars {
  font-size: 1.3em;
}

.logo-group .burger-menu {
  padding: 12px 16px;
  color: grey;
  border-radius: 50%;
}

.logo-group .burger-menu:hover {
  background: #ddd;
}

.logo-group .site-logo {
  padding: 12px 16px;
  text-decoration: none;
}

.logo-group p {
  margin: 0;
  margin-left: 15px;
  color: red;
}

.boo-letters, .gle-letters, .news-letters {
  font-weight: bold;
  font-size: 1.5em;
}

.boo-letters {
  color: #1A73EB;
}

.gle-letters {
  color: mediumseagreen;
}

.news-letters {
  color: grey;
}

.search-bar {
  width: 720px;
  height: 46px;
  background: #F5F5F5;

  justify-content: none;
}

.search-bar a {
  color: #aaa;
  font-size: 1.3em;
  padding: 10px 20px;
}

.search-bar input {
  padding: 0 10px;
  width: 90%;
  background: #F5F5F5;
  border: 0;
  height: 48px;
}

.search-bar input:focus {
  outline: 1px solid grey;
  background: white;
}

.fa-times {
  visibility: hidden;
}

.menu-group img {
  width: 50px;
  height: 50px;
}

.menu-group i {
  font-size: 1.3em;
}

.menu-group a {
  padding: 8px;
  margin: 6px;
  color: grey;
}

.menu-group a:hover {
  color: #444;
}

.menu-group img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin: 0 7px 0 -7px;
}

.hello-user {
  font-weight: bold;
  font-size: 1.1em;
}

.hello-message {
  position: absolute;
  top: 80px;
  right: 8%;
  z-index: -1;
  color: grey;
  border: 3px lightgrey solid;
  border-radius: 20px;
  padding: 5px 10px;
}

/************** Main section **************/
.my-main {
  display: flex;
  max-width: 1500px;
  margin-right: 250px;
  margin-bottom: 50px;
}

/***** Left sidebar *****/

.left-sidebar {
  margin-top: 10px;
  width: 250px;
  margin-right: 40px;
  flex: none;

  display: flex;
  flex-direction: column;
  position: fixed;
}

.left-sidebar-placeholder {
  width: 250px;
  margin-right: 40px;
  flex: none;
}

.left-sidebar hr {
  background: #eee;
  height: 1px;
  width: 85%;
}

.left-sidebar a {
  color: grey;
  text-decoration: none;
  padding: 9px 25px;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
}

.left-sidebar a:first-child {
  color: #1A73EB;
  background: #E3EDFD;
  font-weight: bold;
  margin-top: 10px;
}

.left-sidebar a:hover {
  color: #1A73EB;
}

.left-sidebar a i {
  font-size: 1.3em;
  width: 1.3em;
  margin-right: 15px;
}

.left-sidebar a {
  font-size: 1em;
}

.compressible-space {
  flex: 1;
}

/***** Headlines section *****/

.headlines-section {
  flex: none;
  width: 770px;
  padding-right: 32px;
}

.news-category {
  margin-top: 40px;
}

.news-category h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
}

.headline-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px lightgrey solid;
  border-radius: 10px;

  padding: 20px 15px 30px;
  margin: 20px 0;
}

.headline-card img {
  flex: none;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-left: 10px;
}

.main-headline {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.headline-card h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.headline-subtitles {
  display: flex;
}

.headline-card h3 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 3px;
}

.likes-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 100px 0 20px;
}

.far, .fas {
  color: #666;
}

.like-unlike .fas {
  color: #f78576;
}

.like-unlike {
  background: white;
  border-radius: 20px;
  width: 72px;
  flex: none;
}

.like-unlike:focus {
  outline: 0;
}

.author, .posted-time {
  font-size: 0.9em;
  color: grey;
}

.bullet-point {
  color: grey;
  padding-left: 10px;
  font-size: 0.5em;

  display: flex;
  align-items: center;
}

.posted-time {
  padding-left: 10px;
}

.about-author {
  margin-top: 50px;
  margin-bottom: 10px;
}

.about-author h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
}

.user-profile {
  display: flex;
  flex-direction: row;

  padding: 0 10px;
}

.user-profile h2 {
  font-size: 1.3em;
  font-weight: bold;
}

.user-profile h3 {
  font-size: 1.1em;
}

.user-image img {
  width: 150px;
  height: 150px;
  flex: none;
  margin-right: 20px;
  object-fit: cover;
  margin-top: 10px;
}

.profile-section {
  margin-bottom: 15px;
}

@media screen and (max-width: 1400px) {
  .my-main {
    margin-right: 0;
  }
  .compressible-space {
    flex: 0;
  }
  .headlines-section {
    flex: 1;
  }
}

/***** Right sidebar *****/

.right-sidebar {
  width: 350px;
  margin-top: 80px;
  flex: none;
}

.in-the-news {
  background: #F8F9FA;
  padding: 10px 15px;
}

.in-the-news h4, .weather-forecast-card h4 {
    font-weight: bold;
    font-size: 1.1em;
    color: grey;
    margin: 0;
    padding: 5px 0 0;
}

.trending-topics {
  display: flex;
  flex-wrap: wrap;
}

.trending-topic {
  font-size: 0.9em;
  font-weight: bold;

  background: white;
  border-radius: 10px;
  border: 1px lightgrey solid;
  padding: 5px 8px;
  margin: 5px 0;
  margin-right: 8px;
}

.trending-topic a {
  color: grey;
  text-decoration: none;
}

.trending-topic:hover {
  box-shadow: 0 0 1px 1px lightgrey;
}

.weather-forecast-card, .user-directory {
  display: flex;
  flex-direction: column;
  
  background: #F8F9FA;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 10px 16px;
}

.weather-forecast-card p {
  font-weight: bold;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-weather p {
  margin: 0;
}

.current-weather img {
  width: 65px;
  height: 65px;
  margin-right: 10px;
}

.current-temperature {
  font-weight: normal;
  font-size: 1.8em;
  margin-right: -5px;
}

.weather-forecast-5days {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 10px;
}

.weather-forecast-5days img {
  width: 40px;
  height: 40px;
}

.weather-forecast-day p {
  margin: 0;
}

.weather-forecast-day {
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.weather-forecast-day img {
  margin: 8px 0;
}

.weather-forecast-day .max-temperature {
  font-size: 0.8em;
}

.weather-forecast-day .min-temperature {
  font-size: 0.8em;
  font-weight: normal;
}

.weather-forecast-card .weather-card-footer {
  font-size: 0.8em;
  padding-left: 10px;
  letter-spacing: 3px;
}

.user-directory {
  margin-top: 25px;
  border: 3px solid lightgrey;
  padding: 10px 13px;
}

.user-directory h3 {
  color: grey;
  font-size: 1.6em;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.user-directory li:first-child {
  font-weight: bold;
  font-size: 1.3em;
}